@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* 
.sureDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;

} */

/* .sureDiv button{
  width: 6rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 1rem 1.5rem;
} */

/* .sure {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 3px solid #b9acac;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  transition: all 0.3s ease-in-out;
  user-select: none;
  background-color: rgba(0,0,0,0.25);
} */

/* .sure.green {
  background-color: #2ecc71;      
  border-color: #27ae60;
  box-shadow: 0 0 6px #2ecc71aa; 
} */

/* .sure.orange {
  background-color: #f39c12;      
  border-color: #e67e22;
  box-shadow: 0 0 6px #f39c12aa; 
}

.sure.red {
  background-color: #e74c3c;     
  border-color: #c0392b;
  box-shadow: 0 0 10px #e74c3caa; 
  animation: pulse 1s infinite;
} */

/* Pulse animasyonu 
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}*/